<div class="container">
    <p-growl [(value)]="msgs"></p-growl>

    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div>

    <p-dataTable [value]="looms" [rows]="10" [paginator]="true" [pageLinks]="3" [globalFilter]="gb" [rowsPerPageOptions]="[5,10,20]"
        selectionMode="single" [(selection)]="selectedLoom" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15"
        [responsive]="true">
        <p-header>
            <div style="text-align:left">
                <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
            </div>
            <div style="text-align:center">
                {{title}}
            </div>
        </p-header>
        <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header" [sortable]="true">
            <ng-template let-col let-row="rowData" *ngIf="col.field == 'LoomDate'" pTemplate="body">
                {{row[col.field] | date: 'dd/mm/yy'}}
            </ng-template>
        </p-column>


        <p-footer>
            <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
            </div>
        </p-footer>
    </p-dataTable>
</div>


<p-dialog [(visible)]="displayDialog" resizable="true" modal="true" [draggable]=true [resizable]=true [responsive]="true"
    [width]=dialogWidth>
    <p-header>{{dialogtitle}}</p-header>

    <form (ngSubmit)="save(LoomForm)" [formGroup]="LoomForm" novalidate>


        <div class="form-group">
            <label class="center-block">LoomDate:
                <p-calendar formControlName="LoomDate" showIcon="true" [placeholder]="LoomDate" [dateFormat]="getDateFormat()"></p-calendar>

            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Shift
                <select class="form-control" formControlName="ShiftId">
                    <option [value]="">Select Shift</option>
                    <option *ngFor="let dd of ShiftDropdown" [value]="dd.Id">{{dd.Type}}</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Loom
                <select class="form-control" formControlName="LoomId">
                    <option [value]="">Select Loom</option>
                    <option *ngFor="let dd of LoomDropdown" [value]="dd.Id">{{dd.Name}}</option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label class="center-block">Quality
                <select class="form-control" formControlName="QualityId">
                    <option [value]="">Select Quality</option>
                    <option *ngFor="let dd of QualityDropdown" [value]="dd.Id">{{dd.Name}}</option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label class="center-block">StartReading:
                <input class="form-control" formControlName="StartReading">
            </label>

        </div>

        <div class="form-group">
            <label class="center-block">EndReading:
                <input class="form-control" formControlName="EndReading">
            </label>

        </div>

        <div class="form-group">
            <label class="center-block">EmployeeId:
                <input class="form-control" formControlName="EmployeeId">
            </label>

        </div>

        <div class="form-group">
            <label class="center-block">Mess
                <select class="form-control" formControlName="MessId">
                    <option [value]="">Select Mess</option>
                    <option *ngFor="let dd of MeshDropDown" [value]="dd.Id">{{dd.Size}}</option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label class="center-block">Performance
                <select class="form-control" formControlName="Performance">
                    <option [value]="">Select Performance</option>
                    <option *ngFor="let dd of PerformenceDropdown" [value]="dd.Id">{{dd.Name}}</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Remark:
                <input class="form-control" formControlName="Remark">
            </label>

        </div>
        <div class="form-group">
            <label class="center-block">Status: 
                    <select class="form-control" formControlName="Status">
                            <option [value]="">Select Status</option>
                            <option *ngFor="let dd of StatusDropdown" [value]="dd.Id">{{dd.Name}}</option>
                        </select>
            </label>
        </div>


        <div class="form-btn">
            <button type="submit" class="btn-submit">Save</button>
            <button type="button" class="btn-submit" (click)="delete()">Delete</button>
        </div>


    </form>

</p-dialog>